@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #287dfe;
}

@theme inline {
    --color-background: var(--background);
    --color-primary: var(--primary);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background-color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url("../../public/img/header.jpg");
    @apply bg-cover w-screen h-[33.333vh] md:h-[50vh];
}

.cart {
    @apply w-full hover:scale-105 duration-200 px-4 sm:w-1/2 lg:w-1/3 xl:w-1/4 2xl:w-1/5;
}
.cart-inner {
    @apply rounded-2xl bg-white flex flex-col space-y-3 shadow-xl p-3;
}
